---
- name: "Install powermgmt-base"
  ansible.builtin.apt:
    pkg: "powermgmt-base"
    state: "present"
    update_cache: true
  register: pkg_result
  retries: 12
  delay: 10
  until: pkg_result is success
  when: "unattended_only_on_ac_power"

- name: "Install unattended-upgrades"
  ansible.builtin.apt:
    pkg: "unattended-upgrades"
    state: "present"
    update_cache: true
  register: pkg_result
  retries: 12
  delay: 10
  until: pkg_result is success

- name: "Install reboot dependencies"
  ansible.builtin.import_tasks: "reboot.yml"
  when: "unattended_automatic_reboot | bool"

- name: "Create APT auto-upgrades configuration"
  ansible.builtin.template:
    src: "auto-upgrades.j2"
    dest: "/etc/apt/apt.conf.d/20auto-upgrades"
    owner: "root"
    group: "root"
    mode: "0644"

- name: "Create unattended-upgrades configuration"
  ansible.builtin.template:
    src: "unattended-upgrades.j2"
    dest: "/etc/apt/apt.conf.d/50unattended-upgrades"
    owner: "root"
    group: "root"
    mode: "0644"
